* {
  box-sizing: border-box;
  padding: 0px;
  margin: 0px;
}
.myheader {
  background-color: black;
  color: white;
  height: 120px;
  border-bottom: 1px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
}
